/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background: rgba(0,0,0,0.9);
	
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.bg {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 600px;
	line-height: 600px;
	margin-top: -300px;
	margin-left: -257px;
	color: rgba(0, 0, 0, 0.2);
	z-index: 0;
}

h1 {
	font-size: 3em;
	color: rgba(100, 125, 100, 0.8);
}

.popover{
    max-width: 100%;
}

#popover-anchor {
	text-decoration: none;
}

.convert {
	color: rgba(255, 255, 255, 1);
}

input {
	font-size: 2em !important;
	line-height: 60px;
}

.input-group-addon, input {
	height: 60px !important;
}

@media (max-width: 600px) {
  .bg {
  	font-size: 400px;
		line-height: 400px;
		margin-top: -200px;
		margin-left: -171px;
  }
  input {
		font-size: 1.3em !important;
		line-height: 40px !important;
		height: 40px !important;
	}
	
	.input-group-addon, .input-group-addon a {
		height: 40px !important;
		padding-top: 6px !important;
		padding-bottom: 6px !important;
	}
}